@inherits LayoutComponentBase
@layout MainLayout

<div class="questionnaire-wrapper d-flex">
	<MudGrid Class="d-flex justify-center align-center">
		<MudItem xs="12" lg="4" xl="3">
			<MudPaper Class="pa-16 ma-2" Elevation="3">
				@Body
			</MudPaper>
		</MudItem>
	</MudGrid>
</div>

@code {

}
